$mug-green: (
	50 : #E5F3E0,
	100 : #CBE7C2,
	200 : #A8D799,
	300 : #85C670,
	400 : #6BBA51,
	500 : #51AE32,
	600 : #45942B,
	700 : #397A23,
	800 : #295719,
	900 : #1C3D12,
	A100 : #98FF7E,
	A200 : #74FF51,
	A400 : #50FF24,
	A700 : #31F600,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #000000,
		500 : #000000,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);
$mug-grey: (
	50 : #E4E4E4,
	100 : #C9C9C9,
	200 : #A5A5A5,
	300 : #808080,
	400 : #656565,
	500 : #4A4A4A,
	600 : #3F3F3F,
	700 : #343434,
	800 : #252525,
	900 : #1A1A1A,
	A100 : #7E7E7E,
	A200 : #6F6F6F,
	A400 : #606060,
	A700 : #515151,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #ffffff,
		A200 : #ffffff,
		A400 : #ffffff,
		A700 : #ffffff,
	)
);
$mug-orange: (
	50 : #FFE0D9,
	100 : #FFC0B3,
	200 : #FF9680,
	300 : #FF6C4D,
	400 : #FF4D26,
	500 : #FF2D00,
	600 : #D92600,
	700 : #B31F00,
	800 : #801700,
	900 : #591000,
	A100 : #FFC4B3,
	A200 : #FF9C80,
	A400 : #FF754D,
	A700 : #FF4D1A,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #ffffff,
	)
);
